<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <applicationSettings>
    <NRatings.Client.Properties.Settings>
      <setting name="ApiBaseUri" serializeAs="String" xdt:Transform="Replace">
        <value>#{ApiUrl}#</value>
      </setting>
    </NRatings.Client.Properties.Settings>
  </applicationSettings>

</configuration>