<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section name="configBuilders" xdt:Transform="Remove"/>
  </configSections>

  <configBuilders xdt:Transform="Remove"/>

  <appSettings xdt:Transform="Replace">
    <add key="ApiBaseUri" value="#{ApiUrl}#"/>
    <add key="Auth0Domain" value="#{Auth0Domain}#"/>
    <add key="Auth0ClientId" value="#{Auth0ClientId}#"/>
    <add key="Auth0ApiAudience" value="#{Auth0ApiAudience}#"/>
  </appSettings>

</configuration>