<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <NRatings.WebAPI.Properties.Settings xdt:Transform="Replace">
      <setting name="ApiBaseAddress" serializeAs="String">
        <value></value>
      </setting>
    </NRatings.WebAPI.Properties.Settings>
  </applicationSettings>
</configuration>